.news {
  flex: 0 0 calc(30% - 20px);
  margin: 10px;
  border: 1px solid #dbe2ef;
  box-sizing: border-box;
}

.news-card {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.news-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
